In [1]:
# package import for sqlite3 and csv

import sqlite3
import csv

In [2]:
# creating data base in memory

db = sqlite3.connect(':memory:')

In [3]:
# getting a cursor object

cursor = db.cursor()

In [4]:
# creating table Ages

cursor.execute('''CREATE TABLE Ages (
  name VARCHAR(128),
  age INTEGER
);
''')

In [5]:
# deleting all the previous records from ages table if exists

cursor.execute('''Delete From Ages''')

In [6]:
# entering the values into the ages table

cursor.execute('''insert into Ages values( "Mara", 28),
                ("Otto", 32),
                ("Fyn", 31),
                ("Neshawn", 17);''')

In [7]:
# selecting the values in the ages table to check if the values are there or not

cursor.execute('''select * from Ages;''')

In [8]:
# fetching the values from the cursor object and assigning into to a new variable rows

rows=cursor.fetchall();

In [9]:
# print the elements in the rows variable with the for loop

for row in rows:
    print(row)

('Mara', 28)
('Otto', 32)
('Fyn', 31)
('Neshawn', 17)

In [10]:
# creating a virtual table hex and putting all the hex values from the ages table into it

cursor.execute('''create view hex as SELECT hex(name || age) AS X FROM Ages ORDER BY X''')

In [11]:
# selecting only the first record 

cursor.execute('''select * from hex limit 1;''')

In [12]:
# fetching the values from the cursor object and assigning it to rows variable

rows=cursor.fetchall();

In [13]:
# now printing the values which are there in rows variable

for row in rows:
    print(row)

('46796E3331',)